<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="h-100">
  {{ partial "head" . }}
  <body class="d-flex flex-column h-100">
    <!-- Begin page content -->

  <body class="d-flex flex-column h-100">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    <main role="main" class="flex-shrink-0">
    {{ block "main" . }}{{ end }}
    </main>

    {{ block "footer" . }}{{ partialCached "footer" . }}{{end}}

    <script src="{{ "vendor/jquery/jquery.min.js" | relURL }}"></script>
    <script src="{{ "vendor/bootstrap/bootstrap.bundle.min.js" | relURL }}"></script>
  </body>
</html>
